@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    src: url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
}

:root{
    --primary-color: #06b995;
    --secondary-color: #5a6067;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px;
}

.category{
    --nature-color: #2c2c54;
    --animal-color: #ff793f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Vazir", Arial, Helvetica, sans-serif;
    line-height: 2;
    background: var(--light-color);
}

a{
    text-decoration: none;
    color: #333;
}

p{
    margin: 0.75rem 0;
    text-align: justify;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6,input,button{
    font-family: "Vazir", Arial, Helvetica, sans-serif;
    margin-bottom: 0.55rem;
    line-height: 1.3;
}

/* Utility */

.container{
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.bg-dark{
    background: var(--dark-color);
    color: white;
}

.bg-primary{
    background: var(--primary-color);
    color: white;
}

.text-primary{
    color: var(--primary-color);
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a{
    color: var(--primary-color);
}

.py-1{ padding: 1.5rem 0;}
.py-2{ padding: 2rem 0;}
.py-3{ padding: 3rem 0;}
.p-1{ padding: 1.5rem;}
.p-2{ padding: 2rem;}
.p-3{padding: 3rem;}

.category{
    display: inline-block;
    color: white;
    font-size: 0.85rem;
    padding: 0.3rem 0.4rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.category-nature{
    background: var(--nature-color);
}

.category-animal{
    background: var(--animal-color);
}

.btn{
    border: none;
    background: var(--dark-color);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
}

.btn-light{
    background: var(--light-color);
}

.btn-primary{
    background: var(--primary-color);
}

.btn-secondary{
    background: var(--secondary-color);
}

.btn:hover{
    opacity: 0.8;
}

.list li{
    padding: 0.2rem 0;
    border-bottom: #555 solid 1px;
    width: 90%;
}

.list li a:hover{
    color: var(--primary-color) !important;
}

.page-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2rem 0;
    grid-gap: 1.5rem;
}

.page-container article{
    grid-row: 1 / span 3;
}

/* Menu */

#main-nav{
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav a{
    color: white;
}

#main-nav .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    align-items: center;
}

#main-nav .logo{
    font-family: "Statliches", cursive;
    color: white;
    justify-self: end;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
}

#main-nav .logo span:hover{
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.5s;
}

#main-nav ul{
    display: flex;
}

#main-nav ul li a{
    padding: 0.5rem 0.75rem;
    font-weight: bold;
}

#main-nav ul li a.home:hover{
    background: var(--primary-color);
    color: white;
    border-radius: 4px;
    transition: 0.5s;
}

#main-nav ul li a.about:hover{
    background: var(--primary-color);
    color: white;
    border-radius: 4px;
    transition: 0.5s;
}

/* Header */

#showcase{
    color: white;
    background: #333 url(../images/background.jpg) no-repeat center center/cover;
    padding: 2rem;
    height: 70vh;
}

#showcase .showcase-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.card{
    background: white;
    padding: 1rem;
}

#home-articles .articles-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

#home-articles .articles-container article:first-child,
#home-articles .articles-container article:last-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    grid-column: 1 / span 2;
}

#home-articles .articles-container article:last-child{
    grid-column: 2 / span 2;
}

/* Footer */

#main-footer{
    background: var(--dark-color);
    color: white;
}

#main-footer a{
    color: white;
}

#main-footer .footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

#main-footer .footer-container div:last-child{
    background: #444;
    grid-column: 1 / span 4;
    padding: 0.5rem;
    font-size: 0.75rem;
}

#main-footer .footer-container div:last-child p{
    text-align: center;
}

#main-footer .footer-container input[type='email'] {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
}

#main-footer .footer-container input[type='submit'] {
    width: 90%;
}

#article .meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 0.75rem;
    border-radius: 10px;
}

#article .meta .category{
    margin-top: 0.4rem;
}

#categories .list li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}